.sidebarMenu{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.sidebarItem{
    margin-top: 50px;
    margin-bottom: 50x;
    
}
.sidebarItem:hover{
    color:blueviolet;
    cursor: pointer;
}


@media screen and (max-width: 600px) {
    .sidebarMenu {
      display: flex;
      flex-direction: row;
      justify-content:space-around;
      align-items: center;
     
    }
    .sidebarItem{
        margin:0px;
    }
   
  }