.homepageContainer{
    display: flex;
}

.sidebarConatiner{
    flex:2;
}
.chartConatiner{
    flex:4;
    margin-top: 50px;
}
@media screen and (max-width: 600px) {
    .homepageContainer {
      display: flex;
      flex-direction: column;
    }
  }